/* # Materialize Genesis Theme
Theme Name: Materialize Genesis
Theme URI: http://github.com/webdevsuperfast/materialize-genesis
Description: This is the Materialize Genesis child theme created for the Genesis Framework.
Author: Rotsen Mark Acob
Author URI: https://rotsenacob.com/
Version: 1.0.1
Template: genesis
Template Version: 2.2.7
Tags: black, orange, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, custom-menu, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
