/* ## Sidebars
----------------------------------------------------------------------------- */

.sidebar {
	li {
		margin-bottom: $gutter-width/2;
		padding-bottom: $gutter-width/2;	
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		& > li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.widget {
		margin-bottom: $gutter-width;
	}
}
