/* ## Screen Reader --------------------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	@extend .grey, .text-darken-4;
	font-size: 16px;
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: white;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}