/** Site Inner 
----------------------------------------------------------------------------- */
.site-inner {
    padding: $gutter-width*2 0;
}

/** Widget Areas
----------------------------------------------------------------------------- */
.sidebar-primary {
    .widget {
        margin-bottom: $gutter-width;
    }
}